In [2]:
import pandas as pd
import pymongo

df = pd.read_csv('dataa.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,18,0,875,0,> 2 Years,No,49754,30,247,0
1,2,Male,69,0,334,1,1?2 Year,Yes,24331,172,15,1
2,3,Male,54,0,983,0,< 1 Year,Yes,18214,200,34,0
3,4,Female,39,1,746,1,1?2 Year,No,42059,96,87,1
4,5,Male,65,1,508,1,> 2 Years,Yes,18013,20,1,1

In [4]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [8]:
DB_NAME = "Proj1"  #db name is set by own
COLLECTION_NAME = "Proj1-Data" #collection name is set by own
CONNECTION_URL = "mongodb+srv://22914029sahil_db_user:pE1jG5FfOKMlVLSZ@cluster0.byhxe7l.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource before pushing it to github.

In [9]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [10]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [11]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,68e0e48b2d6220d95da1a12e,1,Male,18,0,875,0,> 2 Years,No,49754,30,247,0
1,68e0e48b2d6220d95da1a12f,2,Male,69,0,334,1,1?2 Year,Yes,24331,172,15,1

In [ ]:
## If you are getting timeout issue

# import certifi
# client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# # TO CREATE THE DATABASE
# data_base = client[DB_NAME]
# collection = data_base[COLLECTION_NAME]
# # TO INSERT DATA INTO THE COLLECTION
# rec = collection.insert_many(data)